<main class="text-light">
    
<title>Anka Code | Ekip</title>
    <br>
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Yetkililer</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 20px;">
            <div class="col">

            
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="グ Giyu Tomioka">Patron</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/879340714448797716/c852ed3dba6251237837d026eb090120.webp?size=1024">
                    </div>
                </div>
              
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Dark Stars Tr">Alone Dark_stars-_-Tr</h1>
                        <h2>Kurucu Yardımcısı</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/767830936175378453/ec6d67206254c4b527b506093494b109.webp?size=1024">
                    </div>
                </div>
              
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="グ Ninja">グ Ninja</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/713113106624020521/a_4ef4081c61919be589b00510b44374f4.gif?size=1024">
                    </div>
                </div>

                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Gweep">boş</h1>
                        <h2>boş</h2>
                    </div>
                    <div class="profile-avatar"><img src="">
                    </div>
                </div>

                <div class="profile" style="background: linear-gradient(-35deg, rgba(49, 253, 219, 0.5) 20%, rgb(47, 208, 229) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Admin">boş</h1>
                        <h2>boş</h2>
                    </div>
                    <div class="profile-avatar"><img src="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Destekçiler</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 3px;">
            <div class="col">
                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Boş">Boş</h1>
                        <h2>Booster</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">
                    </div>
                </div>
               
                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Boş">Boş</h1>
                        <h2>Booster</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>